node_modules
.DS_Store
.env*
addon/Profile
dump.rdb
app/http/public/recorder.css
build
test-build
togetherjs.mozillalabs.com
addon/togetherjs.xpi
togetherjs/togetherjs.css
togetherjs/togetherjsPackage.js


dist*
*.hi
*.o
.hsenv*
.stack-work/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.keter

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

